@model List<SAEON.Identity.Service.Config.Role>

@*Available Roles*@
<div class="editor-label">
    <label style="margin-top: 10px"><b>Assigned Roles:</b></label>
</div>
<div class="editor-field">
    @Html.TextArea("AssignedRoles", string.Join(Environment.NewLine, Model.Select(x => x.Name)), 
    new { @class = "form-control", @rows = "10", @wrap = "off", @style = "margin-bottom: 15px" })
</div>