@model ManageViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<p><h3>Welcome back,<br />@Model.DisplayNnme</h3></p>

<div style="margin-top: 25px">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="UpdatePersonalDetails">Update personal details</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index">Change my email address</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index">Change my secondary email address</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="UserSelfDelete">Delete my account</a></li>
    </ul>
    <br />
</div>
