@{
    ViewData["Title"] = "Identity Service";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}

<div class="row">
    <div class="col-md-12">
        <p>
            The South African Environmental Observation Network (SAEON) was established in 2002. SAEON is a research platform funded by the
            Department of Science and Technology (DST) and managed by the National Research Foundation (NRF).
            SAEON is mandated to establish and manage long-term environmental observatories; maintain reliable long-term environmental data sets;
            promote access to data for research and/or informed decision making; and contribute to capacity building.
        </p>
        <p>
            The SAEON Identity Service provides an OpenID Connect single sign-on for all SAEON websites. The Identity Service publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find meta-data and links to all the endpoints, key material, etc.
        </p>
    </div>
</div>
