@model LogoutViewModel
@{
    ViewData["Title"] = "Logout Confirmation";
}
<div class="logout-page">
    <div class="row">
        <div class="col-sm-6">
            <p>Are you sure you want to logout of the SAEON Identity Service?</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Yes</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>