@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">

    <input name="returnUrl" type="hidden" value="@Model.ReturnUrl" />
    <div id="ValidationSummary" asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-6">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <recaptcha style="margin-left:15px" />

    <div class="form-group">
        <div class="col-md-6" style="margin-left:-6px">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@*<script src="~/node_modules/mdbootstrap/js/jquery.min.js"></script>*@
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <recaptcha-script/>
}
