@model SAEON.Identity.Service.Config.Role

@Html.HiddenFor(m => m.Id)


    <table style="width:100%">
        <tr>
            <td>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:10px" } })
            </td>
            <td width="1px">
                <button class="btn red btn-sm" style="margin-top:-4px; margin-right: 0px"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>

    @*<div class="col-sm-11">
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:10px" } })
    </div>
    <div class="col-sm-1">
        <button class="btn red btn-sm" style="margin-top:0px;margin-left:-20px"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
    </div>*@


