@model SAEON.Identity.Service.Config.Role

@Html.HiddenFor(m => m.Id)

<table style="width:100%">
    <tr>
        <td>
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control roleEditor", @style = "margin-bottom:10px", @data_uid = @Model.Id } })
        </td>
        <td width="1px">
            <button type="button" data-uid="@Model.Id" onclick="DeleteRole(this)" class="btn red btn-sm delBtn" style="margin-top:-4px; margin-right: 0px; width: 40px; padding-left: 12px"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
        </td>
    </tr>
</table>

